/* reset básico */
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.6;
  color: #eed186;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #ae3810; /* vermelho levemente puxado p/ korean style */
}

.site-header .logo { height: 100px; }

.site-header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.site-header nav a {
  color: #fff;
  text-decoration: none;
  font-weight: #fdf1db;
}

#hero {
  padding: 4rem 1rem;
  text-align: center;
  background: url('assets/imagens/padrao-korean.jpg') no-repeat center/cover;
  color: #fff;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 2rem 1rem;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card h3 { margin-top: 0.5rem; }
